<table class="ui striped blue table">
  <thead>
    <tr>
      <th>Members</th>
      <th>Team</th>
      <th> </th>
    </tr>
  </thead>
  
  <tbody>
    {{#each teamlist.members}}
    <tr>
      <td>
        {{name}}
      </td>
      <td>
        {{position}}
      </td>
       <td>
          <a href="/teamlist/{{../teamlist.id}}/deleteMember/{{id}}"><i class="trash alternate outline icon"></i></a>
        </td>
    </tr>
    {{/each}}      
  </tbody>
  
</table>